name: CI

on:
  push:
    branches: [ master ]
  pull_request:

permissions:
  contents: read
  checks: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      # ----------------------------
      # Install tools
      # ----------------------------

      - name: Install cargo-nextest
        run: cargo install cargo-nextest --locked

      #- name: Install cargo-llvm-cov
      #  run: cargo install cargo-llvm-cov --locked

      # ----------------------------
      # Run tests (JUnit output)
      # ----------------------------

      - name: Run tests with nextest
        run: |
          cargo nextest run \
            --all-features \
            --profile ci

      - name: Upload test report
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Rust Tests
          path: target/nextest/ci/junit.xml
          reporter: java-junit

      # ----------------------------
      # Generate coverage
      # ----------------------------

      #- name: Generate coverage (HTML + LCOV)
      #  run: |
      #    cargo llvm-cov \
      #      --all-features \
      #      --workspace \
      #      --lcov \
       #     --output-path lcov.info \
       #     --html

      #- name: Upload coverage HTML artifact
      #  uses: actions/upload-artifact@v4
      #  with:
      #    name: coverage-html
      #    path: target/llvm-cov/html

      # ----------------------------
      # Upload coverage to Codecov
      # ----------------------------

      #- name: Upload coverage to Codecov
      #  uses: codecov/codecov-action@v4
      #  with:
      #    files: lcov.info
      #    fail_ci_if_error: true
